.el-input {
    @media only screen and (max-width: 992px) {
        width: -webkit-fill-available !important;
    }

    .el-input__inner {
        height: 36px;
        padding: 8px 12px;
        color: var(--neutral-600);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        border-radius: 6px;

        border-color: var(--neutral-300);
        &:hover {
            border-color: var(--neutral-400);
        }
        &:focus {
            border-color: var(--primary-600);
        }
        &::placeholder {
            color: var(--neutral-400);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
        }
    }
}
.el-input__prefix {
    padding-left: 6px;

    top: 10px !important;
}
.el-input--prefix .el-input__inner {
    padding-left: 38px !important;
}
.el-input__suffix-inner {
    .el-input__icon {
        span {
            margin-left: 8px;
        }
    }
}
.el-input__suffix {
    display: flex;
    align-items: center;
}

/* Disbaled input */
.el-input.is-disabled {
    .el-input__inner {
        background: var(--neutral-50);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        color: var(--neutral-600);
    }
}
.el-input .el-input__clear {
    display: initial;
    padding-right: 6px;
    padding-left: 6px;
}

.el-transfer-panel__body {
    .el-input__prefix {
        height: 100%;
    }
}

.el-input--prefix {
    .el-input__inner {
        padding-left: 36px;
    }
    span {
        i {
            font-size: 16px !important;
        }
    }
}
.el-input--suffix {
    .el-input__inner {
        padding-right: 36px;
    }
    span {
        i {
            font-size: 16px !important;
        }
    }
}

.el-input__icon {
    height: auto;
    line-height: normal !important;
}
